@{
    ViewBag.Title = "Home";
}

<main>
    <!--  SECCION SLIDER CENTRAL -->
    <div class="container-fluid bg-primary bg-gradient mb-5">
        <div id="slider">
            <!-- Insert to your webpage where you want to display the slider -->
            <div class="amazingslider-wrapper" id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:1800px;margin:0px auto 48px;">
                <div class="amazingslider" id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
                    <ul class="amazingslider-slides" style="display:none;">
                        <li>
                            <img src="img/slider/1.png" alt="Creamos tu sitio Web" title="Creamos tu sitio Web" data-description="Adaptable a cualquier dispositivo" />
                        </li>
                        <li>
                            <img src="img/slider/2.png" alt="Potencia tu negocio!!" title="Potencia tu negocio!!" data-description="Hace crecer tu marca con un propio dominio" />
                        </li>
                        <li>
                            <img src="img/slider/3.png" alt="HTML5, CSS3 y Javascript" title="HTML5, CSS3 y Javascript" data-description="Compatible con todos los navegadores!" />
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End of body section HTML codes -->
        </div>
    </div>
    <!-- FIN DE SECCION SLIDER CENTRAL -->
</main>