
@{
    ViewBag.Title = "Nosotros";
}
<!--  SECCION NOSOTROS -->

<secion id="nosotros">
    <div class="container mb-5">
        <h1 class="titulos">Nosotros</h1>
        <h3 class="semititulos">Somos un estudio de diseño web</h3>
        <p>Somos un estudio de diseño Web Moderno.</p>
        <p>Trabajamos con las ultimas tecnologias de programacion web para hacer que tu pagina sea la mejor. HTML5, CSS3, y Javascript. Tambien PHP y MySQL.</p>
        <p>Tu pagina se va a adaptar a cualquier dispositivo que el cliente acceda. PC de alta o baja resolucion, notebook, tablets o celulares tanto horizontal como vertical. La pagina puede tener diferentes vistas segun el dispotivo del cliente, y segun lo que vos pidas como mas relevante para cada dispositivo.</p>
        <p>Hacemos el diseño, programacion y ejecucion del proyecto, para entregarlo ya subido a la web, con un dominio que vos elijas y operativo.</p>
        <p>En la web FULL, vos podes optar el contenido que puedas cambiar. Pueden ser las imagenes de una galeria, el logo de tu empresa, los datos de contacto de la empresa. El mail donde llegan tus contactos nuevos. Alguna imagen de fondo. El color de fondo de la pagina o lo que vos quieras.</p>
        <p>Vas a tener un panel de acceso con usuario y clave para ingresar. Alli vas a ver todas las fotos que actualmente tiene la web y con un click las podes eliminar. Luego podes subir nuevas fotos con un formulario simple. Luego al cerrar el panel y volver a la pagina, la misma ya carga con la/s foto/s nueva/s.</p>
        <p>Ahora incorporamos .NET. Las últimas tecnologías con .NET Web, MVC y aplicaciones de escritorio para Windows con base de datos en SQL Server</p>
    </div>

</secion>

<!--  FIN DE SECCION NOSOTROS -->