
@{
    ViewBag.Title = "Nuestro portfolio";
}

<!--  SECCION PORTFOLIO -->
<section id="portfolio" class="container mb-5">
    <h1 class="titulos">Portfolio</h1>
    <h3 class="semititulos">Conoce nuestros trabajos</h3>

    <div class="d-flex justify-content-center flex-wrap">

        <div class="card m-2 border col-12 col-md-3">
            <img src="~/img/clientes/sh3.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Somoshermanas</h5>
                <div class="d-flex justify-content-center">
                    <a href="https://somoshermanas.com.ar/" target="_blank" class="btn btn-primary">Ir al sitio</a>
                </div>

            </div>
            <div class="card-footer text-center">
                <small class="text-muted">radiocristal.com.ar</small>
            </div>
        </div>

        <div class="card m-2 border col-12 col-md-3">
            <img src="~/img/clientes/radiocristal.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Radio Cristal</h5>
                <div class="d-flex justify-content-center">
                    <a href="https://radiocristal.com.ar/" target="_blank" class="btn btn-primary">Ir al sitio</a>
                </div>

            </div>
            <div class="card-footer text-center">
                <small class="text-muted">radiocristal.com.ar</small>
            </div>
        </div>

        <div class="card m-2 border col-12 col-md-3">
            <img src="~/img/clientes/gallo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Organizacion Gallo</h5>
                <div class="d-flex justify-content-center">
                    <a href="https://organizaciongallo.com/" target="_blank" class="btn btn-primary">Ir al sitio</a>
                </div>
            </div>
            <div class="card-footer text-center">
                <small class="text-muted">organizaciongallo.com</small>
            </div>
        </div>

        <div class="card m-2 border col-12 col-md-3">
            <img src="~/img/clientes/globalradio.jpg" class="card-img-fill" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Global Radio Web</h5>
                <div class="d-flex justify-content-center">
                    <a href="http://globalradioweb.com.ar/" target="_blank" class="btn btn-primary m-auto">Ir al sitio</a>
                </div>
            </div>
            <div class="card-footer text-center">
                <small class="text-muted">globalradioweb.com.ar</small>
            </div>
        </div>

        <div class="card m-2 border col-12 col-md-3">
            <img src="~/img/clientes/logo.png" class="card-img-fill" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Fut-time</h5>
                <div class="d-flex justify-content-center">
                    <a href="https://fut-time.com.ar/" target="_blank" class="btn btn-primary m-auto">Ir al sitio</a>
                </div>
            </div>
            <div class="card-footer text-center">
                <small class="text-muted">fut-time.com.ar</small>
            </div>
        </div>

        <div class="card m-2 border col-12 col-md-3">
            <img src="~/img/clientes/logorb.png" class="card-img-fill" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">RB Eco Steel</h5>
                <div class="d-flex justify-content-center">
                    <a href="https://rbsteel.com.ar/" target="_blank" class="btn btn-primary m-auto">Ir al sitio</a>
                </div>
            </div>
            <div class="card-footer text-center">
                <small class="text-muted">rbsteel.com.ar</small>
            </div>
        </div>

        <div class="card m-2 border col-12 col-md-3">
            <img src="~/img/clientes/logo.png" class="card-img-fill" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Escula de Fútbol</h5>
                <div class="d-flex justify-content-center">
                    <a href="https://escuela-futbol.fut-time.com.ar/" target="_blank" class="btn btn-primary m-auto">Ir al sitio</a>
                </div>
            </div>
            <div class="card-footer text-center">
                <small class="text-muted">escuela-futbol.fut-time.com.ar</small>
            </div>
        </div>

        <div class="card m-2 border col-12 col-md-3">
            <img src="~/img/clientes/logo_mecanic.png" class="card-img-fill" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Mecanic</h5>
                <div class="d-flex justify-content-center">

                </div>
            </div>
            <div class="card-footer text-center">
                <small class="text-muted">proximamente...</small>
            </div>
        </div>

        <div class="card m-2 border col-12 col-md-3">
            <img src="~/img/clientes/logo_gruposteel.png" class="card-img-fill" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Grupo steel frame</h5>
                <div class="d-flex justify-content-center">
                    <a href="http://gruposteel.com.ar/" target="_blank" class="btn btn-primary m-auto">Ir al sitio</a>
                </div>
            </div>
            <div class="card-footer text-center">
                <small class="text-muted">gruposteel.com.ar</small>
            </div>
        </div>

        <div class="card m-2 border col-12 col-md-3">
            <img src="~/img/clientes/logo_portal_medico.png" class="card-img-fill" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Portal médico bahia</h5>
                <div class="d-flex justify-content-center">

                </div>
            </div>
            <div class="card-footer text-center">
                <small class="text-muted">proximamente...</small>
            </div>
        </div>

        <div class="card m-2 border col-12 col-md-3">
            
            <div class="card-body">
                <h5 class="card-title text-center">Tienda Virtual Autoadministrable</h5>
                <div class="d-flex justify-content-center">
                    <a href="https://rgweb.com.ar/tienda-virtual/" target="_blank" class="btn btn-primary m-auto">Ir al sitio</a>
                </div>
            </div>
            <div class="card-footer text-center">
                <small class="text-muted">tienda-virtual autoadminstrable</small>
            </div>
        </div>

        <div class="card m-2 border col-12 col-md-3" style="visibility:hidden">
            
            <div class="card-body">
                <h5 class="card-title text-center"></h5>
                <div class="d-flex justify-content-center">

                </div>
            </div>
            <div class="card-footer text-center">
                <small class="text-muted"></small>
            </div>
        </div>

        <div class="card m-2 border col-12 col-md-3" style="visibility:hidden">
            
            <div class="card-body">
                <h5 class="card-title text-center"></h5>
                <div class="d-flex justify-content-center">

                </div>
            </div>
            <div class="card-footer text-center">
                <small class="text-muted"></small>
            </div>
        </div>
    </div>

</section>
<!--  FIN DE SECCION PORTOFLIO -->
