@{
    ViewBag.Title = "Home Page";
}

<main>
    <h1>Bienvenido</h1>
    <h3>Aqui podra ver las compras</h3>

    <p>Algunos ejemplos</p>
    <a href="~/Compra/1">Compra1</a>
    <a href="~/Compra/2">Compra2</a>
    <a href="~/Compra/3">Compra3</a>
    <a href="~/Compra/4">Compra4</a>

</main>